@media only screen and (max-width: 991px) {
  /* Home  */
  .home__left .home__container_content h1 {
    font-size: 1.8rem;
  }
  .home__container_content > p {
    font-size: 1rem;
    margin-bottom: 1%;
  }
  .home__left {
    height: 90vh;
  }
  .home__right {
    height: 58vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home__landing_img {
    margin: initial;
  }
  .home__btn {
    font-size: 0.9rem;
  }
  .about__navicon .fas {
    bottom: 16%;
  }
  .push__img {
    width: 90%;
    margin: 11% 0 9% 0;
  }
  .push_sec2 > h2 {
    font-size: 1.5rem;
    margin: 4% 0 1% 4%;
  }
  .push_sec2 > p {
    font-size: 0.9rem;
    margin-left: 4%;
  }
  .feature2_head > h2 {
    font-size: 2rem;
  }
  .feature2_head > p {
    font-size: 1.1rem;
    padding: 0 3%;
  }
  .f1 > h2 {
    font-size: 1.9rem;
  }
  .f1 > p {
    font-size: 0.9rem;
  }
  .mobile {
    display: block;
  }
  .laptop {
    display: none;
  }
  .ffr {
    text-align: center;
  }
  .ffl {
    text-align: center;
  }
  .btmrow,
  .mobile {
    margin-bottom: 8%;
  }
  .f1,
  .ff2 {
    text-align: center;
  }
  .home__welookfor > h1 {
    font-size: 2.5rem;
  }
  .home__welookfor > p {
    font-size: 0.9rem;
  }
  .home__lookicons .fas {
    font-size: 2.5rem;
  }
  .home__welookfor_2 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .icons__bottom > .row > div {
    font-size: 1rem;
  }
  .container__icons {
    padding: 7% 0 4% 0;
  }
  .home__lookicons {
    text-align: center;
    margin: 5% 4% 5% 4%;
  }
  .row__feature_join > div > h2 {
    font-size: 2.5rem;
  }
  .row__feature_join > div {
    height: initial;
  }
  .row__feature_join > div > p {
    padding: 0 8%;
    font-size: 0.9rem;
  }
  #footer > p {
    font-size: 0.7rem;
  }

  /* About  */
  .about__img {
    width: 80%;
  }
  .about__container .col-lg-6 h1 {
    font-size: 2rem;
  }
  .about__container .col-lg-6 p {
    margin-top: 4%;
    font-size: 0.9rem;
  }
  .about__investment {
    text-align: center;
    margin-bottom: 3%;
    padding: 0 4%;
  }
  .ready {
    padding: 5%;
  }
  .events__bg {
    height: 100vh;
  }
  .events__img {
    width: 100%;
  }
  /* Contact  */
  .contact__container_content {
    padding: 11% 14% 14% 5%;
  }
  .contact__left {
    height: 63vh;
  }
  .contact__right {
    height: 50vh;
    background-color: #b2d4ce;
  }
  .contact__img {
    width: 85%;
    margin-top: 0;
  }
  /* Raise Funds */
  .raise__left {
    overflow: hidden;
    height: 65vh;
  }
  .raise_right .raise__container_content {
    margin-top: 0;
  }
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    text-align: end;
    justify-content: end;
    text-align: left;
    justify-content: end;
  }
}
